body {
    background-color: black;
}

.content {
    width: 280px;
    margin: 0 auto;
}

.turn {
    background-color: royalblue;
    padding: 4px;
}

.turn span {
    display: block;
}

.board {
    background-color: gray;
    padding: 10px;
}

.quadrant-container {
    display: inline-block;
    width: 85px;
    height: 85px;
}

.quadrant-container.q00 {
    padding: 40px 0 0 40px;
}

.quadrant-container.q10 {
    padding: 40px 40px 0 0;
}

.quadrant-container.q01 {
    padding: 0 0 40px 40px;
}

.quadrant-container.q11 {
    padding: 0 40px 40px 0;
}

.quadrant {
    position: relative;
    width: 75px;
    height: 75px;
    margin: 4px;
}

.rotate {
    position: absolute;
    width: 40px;
    height: 40px;
}

.q00 .rotate.left {
    left: -40px;
}

.q00 .rotate.right {
    top: -40px;
}

.q10 .rotate.left {
    left: 35px;
    top: -40px;
}

.q10 .rotate.right {
    left: 75px;
}

.q01 .rotate.left {
    top: 80px;
}

.q01 .rotate.right {
    top: 40px;
    left: -40px;
}

.q11 .rotate.left {
    left: 40px;
    top: 80px;
}

.q11 .rotate.right {
    left: 75px;
    top: 40px;
}

.cell {
    border: 1px solid black;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 1px;
    border-radius: 10px;
}

.pebble {
    width: 16px;
    height: 16px;
    margin: 2px;
    border-radius: 8px;
}

.white {
    background-color: white;
}

.black {
    background-color: black;
}